* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

main {
  padding-top: 6rem;
  background: bisque;
  height: 100vh;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg,#2d4263,#c84b31);
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;
}

.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}

.login {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  text-align: center;
  margin: 2rem auto;
}

.login .button {
  height: 50px;
  background: linear-gradient(90deg,#2d4263,#c84b31);
  border-radius: 48px;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
  color: #fff;
}